
<div>

        <table border="1">
            <tr>
                <th>ID</th>
                <th>Quantity</th>
                <th>packaging</th>
                <th>Item Name</th>
            </tr>
            <tr>
                <td>0</td>
                <td><%= items %></td>
                <td><%= orderDetail.packaging %></td>
                <td><%= orderDetail.name %></td>
            </tr>
        </table>

    </div>