<html>
    <body>
        <form method="post" action="http://192.168.1.195:4000/api/message/save">
            <lable>Message</lable>
            <textarea name="message"></textarea>
            <lable>accessLimit</lable>
            <input name="accessLimit">
            <lable>downlaodLimit</lable>
            <input name="downlaodLimit">
            <lable>timeLimit</lable>
            <input name="timeLimit">

            <input type="submit" value="submit" name="submit">
        </form>
    </body>
</html>